/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* UTILITIES */
.container {
    max-width: 700px;
    margin: 50px auto;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

.mb-50 {
    margin-bottom: 50px;
}

/* HEADER */
.logo {
    text-align: center;
}

.logo img {
    width: 50%;
}

/* SECTION INPUT */
.input input {
    margin-right: 20px;
    padding: 5px 30px;
}

.button {
    padding: 5px 30px;
    border-radius: 30px;
    background-color: #00e165;
    border: none;
}

/* MAIN TODO LIST */
.todo-list {
    background-color: #f2f2f2;
    padding: 30px 30px;
}

.todo-list ul li {
    position: relative;
    list-style: none;
    padding: 5px 15px 5px 30px;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
}

.todo-list ul li:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 5px;
    border: 1px solid black;
}

.todo-list ul li.completed:before {
    background-color: #00e165;
}

.todo-list ul li span {
    cursor: pointer;
} 

li.completed span {
    text-decoration: line-through;
    color: #bbb;
}

.todo-list li .delete:hover,
.todo-list li .delete:active {
    color: rgb(201, 1, 1);
    cursor: pointer;
}